.row {
  align-items: center;
}

.hero > .col:first-child {
  padding-left: 5%;
}

.img {
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-form {
  width: 100%;
}
